/* Write you CSS here */
.bg-container {
  min-height: 100vh;
}
.banner {
  background-color: #180d5b;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}
.banner-heading {
  color: White;
  font-size: 55px;
  font-family: 'Playfair Display';
  width: 32%;
}
.banner-image {
  width: 33%;
}
